doctype
html(lang='en')
  head
    include includes/header.pug

  body
    section.section.hero
    .hero
      .hero-body
        .container
          h1.title.is-1
            | Commands
          h2.subtitle
            | What good is having a bot if you can&apos;t even do anything with it?
          .content
            h5.subtitle.is-5
              strong Command Usage Syntax
            ul
              li(style='color:#FFF')
                code []
                |  optional parameter
              li(style='color:#FFF')
                code &lt;&gt;
                |  required parameter
    section.section.columns
      .column.is-offset-one-fifth.is-3
        aside.menu
          p.menu-label
            | Commands
          ul
            span#categoryList
      .column.is-9
        | Commands Text
