<!DOCTYPE html>

<html>

  <%- include('includes/header') %>

<body>

  <section class="content ">
    <div class="section container">
      <h1 class="title is-1">Commands and Features</h1>
      <p>
        What good is having a bot if you can't even do anything with it. Available commands listed below.
      </p>
      <h5 class="subtitle is-5">Command Usage Syntax</h5>
      <ul>
        <li><code>[]</code> optional parameter</li>
        <li><code>&lt;&gt;</code> required parameter</li>
      </ul>
    </div>
  </section>

  <section class="conent">
    <div class="section container">
      <div class="columns">
        <div class="column is-3">

        </div>
      </div>
    </div>
  </section>

</body>

  <%- include('includes/footer') %>

</html>