<!DOCTYPE html>
<html>

    <%- include('includes/header') %>

  <body>

    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcenter">
            <div class="column is-5 mr-6">
              <h1 class="title is-title is-size-1 has-text-weight-bold">Heimdallr, Ever watching</h1>
              <p class="subtitle is-4 has-margin-top-20 is-family-primary">Discord bot that you can utilize for community engaugement,
                NSFW deviants, server moderation, and much more.</p>
              <button class='button is-primary is-large is-focus'><strong>Invite Heimdallr</strong></button>
              <div class="columns is-vcenter">
              </div>
            </div>
            <div class="column is-3 has-text-centered ml-6">
              <figure class="image">
                  <img src="/images/viking.png " alt="Viking Friend" width="200" height="200" alt="Viking Friend">
              </figure>
           </div>
          </div>
        </div>
      </div>
    </section>
    <div class="cta section">
      <p class="has-text-centered is-size-6">
          <span class="tag is-danger">Disclaimer</span> <span class="is-size-7">Heimdallr (the bot) has never been formally certified to warn of the Ragnarök. Please keep
            a close watch out for supernaturally snakes, fen dwellers, and mischievous gods.
          </span>
      </p>
    </div>

  </body>

  <%- include('includes/footer') %>

</html>