@charset "utf-8";

// Brand Colors
$blackish: #202020;
$dark-grey: #3F3F3F;
$medium-grey: #707070;
$egg-yellow: #FFDF6C;
$cloud: #F3F3F3;

// Sticky Footer
html, body {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  padding: 20px;
}

// Update global variables
$primary: $egg-yellow;
$dark: $blackish;
$light: $cloud;
$link: $egg-yellow;
$link-focus: $egg-yellow;
$panel-block-active-color: $dark-grey;
.content code {
  background-color: $dark-grey;
  color: $egg-yellow;
}

// Update component variables
$body-background-color: $cloud;
$footer-background-color: $blackish;
$footer-color: $medium-grey;
$text-strong: $medium-grey;
$footer-padding: 1.0rem 1.5rem .5rem;

// Import Bulma
@import "../../../../node_modules/bulma/bulma.sass";
