<footer class="footer">

  <div class="content has-text-centered">
    <p>
      <strong>Heimdallr</strong> Coded with ❤, this project is <strong>open source</strong>. Noticed a typo or unexpected error? Or make a suggestion! <br>
      <a href="https://github.com/Jotunn-Development">Improve this bot on GitHub</a> <br>
      © 2018-2020 VulgarBear#2617/Jotunn Development
    </p>
    <img src="/images/logo.png" width="192" height="35"><br>
    <img src="https://bulma.io/images/made-with-bulma.png" width="149" height="28">
    <img src="https://img.shields.io/badge/discord-js-blue.svg?style=for-the-badge" max-width=28px>
    <img src="https://img.shields.io/github/last-commit/vulgarbear/heimdallr?style=for-the-badge">
    <img src="https://img.shields.io/github/issues/VulgarBear/heimdall?style=for-the-badge">
  </div>

</footer>