.section
footer.footer.is-fixed-bottom
  .content.has-text-centered
    p
      strong Heimdallr
      |  Coded with
      |
      i.fas.fa-heart
      | , this project is
      |
      strong open source
      | . Noticed a typo or unexpected error, or make a suggestion!
      br
      a(href='/')
        | Improve this bot on GitHub
        i.fab.fa-github
      br
      |       &copy; 2018-2020 VulgarBear#2617 / Jotunn Development
    img(src='/assets/images/logo.png', width='192', height='35')
    p

      img(src='https://bulma.io/images/made-with-bulma.png', width='149', height='28')
      img(src='https://img.shields.io/badge/discord-js-blue.svg?style=for-the-badge', max-width='28px')
      img(src='https://img.shields.io/github/last-commit/vulgarbear/heimdallr?style=for-the-badge')
      img(src='https://img.shields.io/github/issues/VulgarBear/heimdall?style=for-the-badge')
