<head>
  <title>Your Multipurpose Viking Friend</title>
  <link rel="icon" href="/images/favicon.png">

  <link rel="stylesheet"  href="/styles/main.css">
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://heimdallr.jotunn.xyz" style="position: absolute; left: 50%; margin-left: -100px; margin-top: 0; padding: 0; height: 100%; display: flex; align-items: center;">
        <img src="/images/logo.png" width="192" height="35">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="https://heimdallr.jotunn.xyz">
          Home
        </a>

        <a class="navbar-item" title="Coming Soon..." disabled>
          Commands
        </a>

      </div>

      <div class="navbar-end">

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Vote
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://top.gg/bot/391050398850613250/vote">
              Top.gg
            </a>
            <a class="navbar-item" href="https://discord.boats/bot/391050398850613250/vote">
              Discord.boats
            </a>
          </div>
        </div>

        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" title="Coming Soon..." disabled>
              <strong>Log In</strong>
            </a>
            <a class="button is-primary" href="https://top.gg/bot/391050398850613250/invite">
              <strong>Support Server</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

</head>